.container
{
  background-color: rgb(177, 229, 250);
  margin: 10px;
  border: 8px inset rgb(20, 85, 129);
  padding: 40px;
}

body
{
  font-size: 17px;
  color: rgb(12, 60, 92);
  font-family: serif;

}

h1
{
  font-family: "essonnes-display", Georgia, Times, serif;
  color: rgb(12, 60, 92);
  font-size: 49px ;
  text-align: center;
}

figcaption
{
  font-style: italic;
}

footer
{  
  text-align: center;
  padding-top: 10px;
}